<div class = "container-fluid">
    <nav class = "navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class = "navbar-nav">
            <li class = "nav-item">
                <a routerLink = "/home" routerLinkActive = "active" class = "nav-link">Home</a> 
            </li>
            
            <li class = "nav-item">
                <a routerLink = "/movie-ticket-search" routerLinkActive = "active" class = "nav-link">Movie Ticket Search</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-list-of-all-movies" routerLinkActive = "active" class = "nav-link">List of All Movie Tickets</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/movie-ticket-search-results" routerLinkActive = "active" class = "nav-link">Movie Ticket Search Results</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-account-dashboard" routerLinkActive = "active" class = "nav-link">Dashboard</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-account-login" routerLinkActive = "active" class = "nav-link">Account Login</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-account-registration" routerLinkActive = "active" class = "nav-link">Account Registration</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-add-movie-ticket-to-cart" routerLinkActive = "active" class = "nav-link">Add Movie Ticket To Cart</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-cart" routerLinkActive = "active" class = "nav-link">Cart</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-checkout" routerLinkActive = "active" class = "nav-link">Checkout</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-make-payment" routerLinkActive = "active" class = "nav-link">Make Payment</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-movie-ticket-order-summary" routerLinkActive = "active" class = "nav-link">Movie Ticket Order Summary</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-portal" routerLinkActive = "active" class = "nav-item">Portal</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-remove-movie-ticket-from-cart" routerLinkActive = "active" class = "nav-item">Remove Movie Ticket From Cart</a>
            </li>

            <li class = "nav-item">
                <a routerLink = "/user-portal" routerLinkActive = "active" class = "nav-item">Sign Out</a>
            </li>
        </ul>
    </nav>
</div>