<div class = "container-fluid">
    <app-user-navbar></app-user-navbar>
</div>

<div class = "container-fluid">
    <h3>Movie Ticket Booking Order Summary</h3>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Movie Ticket Id</th>
                <th>Name of the Movie</th>
                <th>Show Date</th>
                <th>Show Time</th>
                <th>Showing Location</th>
                <th>Price</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let movieTicket of movieTickets">
                <td>{{ movieTicket.id }}</td>
                <td>{{ movieTicket.movieName }}</td>
                <td>{{ movieTicket.showDate }}</td>
                <td>{{ movieTicket.showTime }}</td>
                <td>{{ movieTicket.showingLocation }}</td>
                <td>{{ movieTicket.price }}</td>
                <td>Successful</td>
            </tr>
        </tbody>
    </table>
    
    <p></p>

    <table class = "table table-striped">
        <thead>
            <tr>
                <th>User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let userInfo of userDetails">
                <td>{{ userInfo.id }}</td>
                <td>{{ userInfo.firstName }}</td>
                <td>{{ userInfo.lastName }}</td>
                <td>{{ userInfo.username }}</td>
                <td>{{ userInfo.email }}</td>
            </tr>
        </tbody>
    </table>
</div>
