<div class = "container-fluid">
    <app-user-navbar></app-user-navbar>
</div>

<p></p>

<div class = "container-fluid">
    <button (click) = "goToCheckout()" class = "btn btn-info">Go To Checkout</button>
</div>

<p></p>

<div class = "container-fluid">
    <h3>Movie Ticket Booking Shopping Cart</h3>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Movie Ticket Id</th>
                <th>Name of the Movie</th>
                <th>Show Date</th>
                <th>Show Time</th>
                <th>Showing Location</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let movieTicket of movieTickets">
                <td>{{ movieTicket.id }}</td>
                <td>{{ movieTicket.movieName }}</td>
                <td>{{ movieTicket.showDate }}</td>
                <td>{{ movieTicket.showTime }}</td>
                <td>{{ movieTicket.showingLocation }}</td>
                <td>{{ movieTicket.price }}</td>
                <td>
                    <button (click) = "deleteMovieTicketFromCart()" class = "btn btn-info">Delete Movie Ticket From Cart</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
